<div class="banner">
  <h1>MY PERSONAL FAVORITES</h1>
</div>

<div class="main-container">
  <h2>Which moive you would like to watch?</h2>
  <div class="card-container-flex">
    <% @lists.each do |list| %>
        <div class="list-card">
          <div><%= image_tag "card.jpg", alt: "Movie Theater" %></div>
          <div class="vertical-align"><%= link_to list.name, list %></div>
        </div>
    <% end %>
  </div>
</div>
