.navbar-lewagon {
  justify-content: space-between;
  background: white;
  align-items: center;

  p {
    margin: 20px 20px;
  }

  .btn a {
    color: #fff;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

